[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "nikosgavalas.github.io"]
	path = nikosgavalas.github.io
	url = https://github.com/NikosGavalas/nikosgavalas.github.io.git
