<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>N. Gavalas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Indexing -->
    <meta name="description" content="N. Gavalas, Software Engineer">
    <meta name="keywords" content="blog,nikolaos,nikos,nick,gavalas,resume,cv,computer,engineer,network,systems,devops">
    <!-- Social media meta -->
    <meta property="og:title" content="N. Gavalas — Software Engineer">
    <meta property="og:description" content="N. Gavalas, Software Engineer">
    <meta property="og:image" content="https://gmantaos.com/assets/img/favicon.png">
    <meta property="og:site_name" content="N. Gavalas">
    <meta property="og:type" content="profile">
    <meta name="twitter:image:alt" content="N. Gavalas — Software Engineer">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="N. Gavalas — Software Engineer">
    <meta name="twitter:description" content="N. Gavalas, Software Engineer">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
